/* ---- Google Fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* ---- Custom Properties ---- */
:root{
    /* Colors */

    --clr-cyan: hsl(179, 62%, 43%);
    --clr-yellow: hsl(71, 73%, 54%);
    --clr-lightgray: hsl(204, 43%, 93%);
    --clr-grayblue: hsl(218, 22%, 67%);
    --clr-white: #fff;

    /* Font and Typography */

    --ff-primary: 'Karla', sans-serif;

    --fs-h1: 2rem;
    --fs-h2: 1.3rem;
    --fs-h3: 1.17rem;
    --fs-h4: 1rem;
    --fs-big: 2rem;
    --fs-normal: .813rem;
    --fs-small: .745rem;

    --fw-reg: 400;
    --fw-bold: 700;

    /* Box Shadow */
    --bxs-container:0px 2.5px 29px -10px rgba(152,166,189,1);
    --bxs-btn: 0px 5px 16px -10px rgba(0,0,0,0.75);
    /* Others */
}
@media screen and (min-width: 768px){
    :root{
        --fs-h1: 2.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.3rem;
        --fs-big: 2.5rem;
        --fs-normal: 1rem;
        --fs-small: .813rem;
    }
}
/* ---- General Styles ---- */
/* Base */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--clr-lightgray);

    font-family: var(--ff-primary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-reg);
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
/* Typography */
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}
h4{font-size: var(--fs-h4);}
/* Layout */
.section{
    padding: 0 2rem;
}
.section.memberships{
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Components */
.btn{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    box-shadow: var(--bxs-btn);
}
.btn-primary{
    background-color: var(--clr-yellow);
    color: var(--clr-white);
    border-radius: .35rem;
}
/* ---- Section Styles ---- */
/* Memberships */
.membership-container{
    background-color: var(--clr-white);
    border-radius: .35rem;
    box-shadow: var(--bxs-container);
    overflow: hidden;
}
.text-container,
.subscription-container,
.perks-container{
    padding: 1.5rem;
}
.text-container > *:not(:last-child),
.subscription-container > *:not(:last-child),
.perks-container > *:not(:last-child){
    margin-bottom: 1rem;
}
.text-container{
    color: var(--clr-grayblue);
}
.subscription-container,
.perks-container{
    color: var(--clr-lightgray);
    background-color: var(--clr-cyan);
}
.perks-container{
    opacity: .8;
}
.membership__title{
    color: var(--clr-cyan);
}
.membership__subtitle--green{
    color: var(--clr-yellow);
}
.membership__subtitle--white{
    color: var(--clr-white);
}
.membership__description{
    line-height: 1.6;
}
.membership__pricing{
    font-size: var(--fs-big);
    font-weight: var(--fw-bold);
}
.membership__pricing span{
    font-size: var(--fs-normal);
    font-weight: var(--fw-reg);
    opacity: .5;
    vertical-align: middle;
}
.perks__item{
    font-size: var(--fs-small);
    margin-bottom: .45rem;
}
/* ---- Footer ---- */
footer{
    align-self: flex-end;
}
/* ---- Media Queries ---- */
@media screen and (min-width: 600px){
    .membership-container{
        max-width: 720px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "text ."
                             "sub perks";
    }
    .text-container{
        grid-area: text;
        grid-column: 1/-1;
    }
    .subscription-container{
        grid-area: sub;

    }
    .perks-container{
        grid-area: perks;
    }
    .text-container,
    .subscription-container,
    .perks-container{
        padding: 3rem;
    }
}